# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.ipch

# Build output
x64/
Debug/
Release/

# Node
server/node_modules/

# Database
*.db
*.sqlite
*.sqlite3

# Environment
.env

# Logs
*.log

# Temporary
*.tmp

# Zip archives
*.zip